
@media (max-width: 1150px) {
    .sidebar {
        width: 250px; /*size for mobile*/
        background-size: cover;
        background-position: center; 
    }
}


.logo-image {
    width: 100%; /* Ensure the logo fills the entire width of the sidebar */
    text-align: center; /* Center the logo horizontally */
  }
  
  .logo-image img {
    max-width: 100%; /* Make sure the logo does not exceed the container width */
    height: auto; /* Maintain the aspect ratio of the logo */
  }






