.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px; /* Size for desktop */
    background-image: url("sidebar.jpeg");
    background-size: cover; 
    background-position: center; 
    object-fit: contain;
    transition: all 0.3s; /* Smooth transition */
    display: flex;
    /* Background overlay */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(151, 71, 255, 0.5); 
    }
}

/* Initially hide the toggle button and logo */
.toggle-button,
.logo-image {
    display: none;
}

/* Show the sidebar only on larger screens */
@media (min-width: 1200px) {
    .sidebar {
        display: flex;
    }
    /* Show the logo on larger screens */
    .logo-image {
        display: block;
    }
}

/* Show the toggle button only on smaller screens */
@media (max-width: 767px) {
    .toggle-button {
        display: block;
    }
    .sidebar {
        display: none;
    }
    .video-title {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}


.logo-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the image appears on top */
    /* Center the logo */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    text-align: center;
}

.logo-image img {
    max-width: 100%; /* Make sure the logo does not exceed the container width */
    height: auto; /* Maintain the aspect ratio of the logo */
    vertical-align: top;
}

/* Optional: Add styles to make the sidebar look better */
.sidebar {
    border-right: 1px solid #ccc; /* Border on the right side */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    width: 25%;
}


.sidebar-sticky {
    margin-top: auto;
    padding-bottom: 10px;
    padding-left: 10px;
}


/* ---------------nav items styling------------------ */

.sidebar a {
    text-decoration: none;
    color: #EAB50D; 
    font-weight: bold;
    text-align: center; 
    font-style: italic;
    font-size: 18px;
}

.sidebar a:hover {
    color: white;
}



.nav-link {
    display: inline-block;
    padding: 5px 15px; 
    margin-bottom: 10px; 
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.70);
    position: relative;
    z-index: 1;
  }
  
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Change background color on hover */
  }
  


/* ---------------main content styling------------------ */



main {
    width: 75%;
    transition: all 0.3s; /* Smooth transition */
    background-color: black;

}

/* ---------------video container styling------------------ */



.video-title {
    padding-top: 40px;
    padding-left: 20px;
    font-size: 2rem; /* Adjust the font size as needed */
    text-align: left; /* Center the text horizontally */
    color: #EAB50D; 
    font-weight: bold;
    text-align: left; 
    font-style: italic;
  }

.album-name {
    padding-left: 20px;
    font-size: 20px; /* Adjust the font size as needed */
    text-align: left; /* Center the text horizontally */
    color: #EAB50D; 
    text-align: left; 
    font-style: italic;
    font-weight: lighter;
}

.description {
    text-wrap: wrap;
    color:#EAB50D;
    text-align: left;
}

.video-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    margin: auto;
}

.video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 20px;
    padding-right: 20px;
}

html, body {
    height: 100%;
}


.custom-height-restriction {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}


/* ---------------carousel styling------------------ */


.carousel-title {
    padding-left: 20px;
    font-size: 2rem; /* Adjust the font size as needed */
    text-align: left; /* Center the text horizontally */
    color: #EAB50D; 
    font-weight: bold;
    text-align: left; 
    font-style: italic;
  }



.slick-slide {
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    padding: 20px 0;
}

 .slick-slide img {
    max-width: 100%; /* Set maximum width to ensure images are responsive */
    transition: all 0.3s ease-in-out;
    height: auto;
}

.slick-center {
    transform: scale(1.0);
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}


.slick-dots li button:before {
    opacity: 1 !important;
    color: white !important;

}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #EAB50D !important;
}


/* ---------------subscription bar styling------------------ */


.footer {
    display: flex;
    width: 100%;
    padding-left: 20px;
}

.subscription-bar-title {
    font-size: 20px; 
    padding-left: 20px;
    text-align: left; 
    color: #EAB50D; 
    font-weight: bold;
    text-align: left; 
    font-style: italic;}

.subscription-bar{
    text-align: left;
    width: 70%;
    


}

.social-icons {
    flex-direction: row;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.social-icons img {
    cursor: pointer;
}


form {
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type="email"] {
    width: 70%;
    border-color: #EAB50D;
    border-width: 2px;
    background-color: black;
    color: #EAB50D;

  }
  

input[type="email"]::placeholder {
    color: #EAB50D;
    font-weight: lighter;
  }


.subscribe {
    background-color: #EAB50D;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: left; 
    font-style: italic;




}